* {
    font-family: Monserrat, sans-serif;
    color: #F5EFE7;
    padding: 0;
    margin: 0;
}

.container {
    background-color: transparent;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.luna-miller-name {
    font-weight: bold;
    color: #3E5879;
}

.rounded-circle {
    border-radius: 50%;
}

.btn-primary {
    background-color: #3E5879;
    border-color: #3E5879;
    color: #D8C4B6;
}

.btn-primary:hover {
    background-color: #D8C4B6;
    border-color: #D8C4B6;
    color: #3E5879;
}

#luna-miller-image {
    border: none;
    box-shadow: none;
}